.hero {
    width: 100%;
    height: 90vh;
    border: 2px solid red;
}

.hero-content {
    max-width: 90%;
    margin-inline: auto;
}

.hero-headline {
    width: 100%;
    text-align: center;
    /* border: 2px solid yellow; */
    margin: 20px 0;
}

.hero-showcase {
    height: 500px;
    /* border: 2px solid green; */
    margin: 20px 0;
}

.hero-showcase-items{
    width: 80%;
    /* border: 2px solid black; */
    height: 100%;
    margin: 0 auto;
}

img {
    display: block;
    height: 450px;
    width: 100%;
    max-width: 600px;
    object-fit: cover;
    margin: 0 auto;
}