.topbar {
    background-color: var(--bg-primary);
}

.topbar-content {
    max-width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 1.2em;
    min-height: 50px;
    padding: 1.5em;
    margin: 0 20px;
    color: white;
    background-color: inherit;
}

.topbar-content span {
    text-transform: uppercase;
    font-size: 1em;
}

.login-btn, .signup-btn {
    padding: 8px 16px;
}